django
mysqlclient
django-debug-toolbar
pillow
djangorestframework
bcrypt
django-filter
djangorestframework-jwt
pymysql
django-cors-headers
gevent
coreapi
python-memcached
openpyxl
drf-yasg
django-redis
redis
celery
